/* body */
@charset "utf-8";

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 1.2rem;
    color: rgb(221, 221, 221);
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #dddddd;
}

li {
    list-style: none;
}


  