/* body */
@charset "utf-8";

html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    color: rgb(221, 221, 221);
    h2, h3 {
      font-size: 2.6rem;
      line-height: 1.4;
    }
    p {
      font-size: 1.9rem;
      line-height: 1.4;
    }
  }

  *, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #dddddd;
}

li {
  list-style: none;
}

$base-color: #5cb85c;

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
    font-size: 1.9rem;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin hmbg-menu {
  position: absolute;
  height: 2px;
  width: 22px;
  border-radius: 3px;
  background: rgb(136, 136, 136);
}